.analysis_intro {
}

.analysis_button_container {
  width: 100%;
  text-align: center;
}

.analysis_button {
  width: 200px;
  height: 50px;
  color: white;
  border: 1px solid black;
  background-color: blue;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;

  position: relative;
  justify-content: space-around;
}
