@font-face {
  font-family: "K2D-BoldItalic";
  src: url("./K2D-BoldItalic.ttf");
}

.main_header {
  background-color: white;
  
  width: 1920px;
  height: 65px;
  color: black;
  display: flex;
  padding: 20px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #000;
  
  align-items: center;
}

.service_name {
  font-family: "K2D-BoldItalic";
  text-align: center;
  margin-left: 30px;
}

.header_intro {
  text-align: center;
  margin-left: 600px;
  font-size: 25px;
}

.header_icon {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

