@font-face {
  font-family: "Giants-Regular";
  src: url("./Giants-Regular.ttf");
}


.news_container_big {
  background-color: #d9d9d9;
  border: 1px solid #000;

  width: 1200px;
  /*width: 1200px;*/
  height: 700px;
  top: 20%;
  left: 10%;
  position: absolute;

  
  justify-content: space-around;
  
}

.news_container {
  background-color: #d9d9d9;

  width: 100%;
  height: 50%;
  
  top: 20%;
  left: 10%;
  

  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.news_container_intro {
  text-align: center;
  font-size: 30px;
}

.news_block {
  background-color: white;
  border: 2px solid #000;
  
  width: 200px;
  /*width: 200px;*/
  height: 300px;
}

.news_block_intro {
  font-family: "Giants-Regular";
  background-color: #72a126;
  color: #000;
  border-bottom: 2px solid #000;
  padding: 10px;
  text-align: center;

  font-size: 1.5vw;
  /*font-size: 20px;*/
}

.news_block_info {
  margin-top: 10px;
  
}

.link_reset {
  text-decoration: none;
  color: inherit;
}


.keyword_container {
  background-color: #d9d9d9;
  border: 1px solid #000;
  width: 20vw;
  /*width: 400px;*/
  height: 700px;
  top: 20%;
  left: 75%;
  position: absolute;
}

.keyword_container_intro {
  text-align: center;
  font-size: 30px;
}
